.organizer {
    @media (max-width: 1199px) {
        padding-top: 100px;
        padding-bottom: 50px;

        &__title {
            font-size: 42px;
            line-height: 46px;
        }

        &__content {
            padding: 48px 30px;

            p {
                font-size: 16px;
                line-height: 21px;
            }

            a {
                font-size: 16px;
                line-height: 21px;
            }
        }
    }

    @media (max-width: 991px) {
        &__content {
            grid-gap: 30px;
        }
    }

    @media (max-width: 767px) {
        padding: 25px 0;
        box-shadow: 0px 0px 37.765px rgba(79, 79, 107, 0.3);
        &__title {
            margin-bottom: 10px;
        }

        &__content {
            display: block;
            box-shadow: none;
            padding: 0;

            &_left {
                background: none;
            }
            a {
                margin-bottom: 23px;
            }
            img {
                display: block;
                max-width: 200px;
            }
        }
    }

    @media (max-width: 575px) {}
}